
<div class="container">
  <div class="row">
    <div class="col colUp1">
      <div class="row">
        <div class="row">
          <div class="col-xl bgBussiness">
          <div class="col inColUp2" *ngFor="let ix of resp" >
              <div class="col">
                <p class="nea1" >NEA</p>
                <p class="nea2">เข้าถึงประชาชนและผู้ประกอบการมากกว่า</p>
                <p class="nea3">{{ix.access_people}} ราย</p>
                <p class="nea4">เข้าถึงประชาชนและผู้ประกอบการมากกว่า</p>
                <p class="nea5">{{ix.access_company}} ราย</p></div>
              </div></div>

            <div class="col inColUp3"  >
              <div class="row" style="height: 49%;border-style:dotted">

                    <div class="col inBanner1" style="width: 100%;height: 100%;border-style: dashed;" *ngFor="let ix of resp" >
                      <p>{{ix.legal_people}}</p>
                      <p>นิติบุคคล</p>

                    </div>
                    <div class="col inBanner2" style="width: 100%;height: 100%;border-style: dashed;"*ngFor="let ix of resp">
                      <p>{{ix.normal_people}}</p>
                      <p>คนธรรมดา</p>

                    </div>

                </div>

                <div class="col"  style="background-color:blue;width: 100%;height:26%;">Hello</div>
              </div>

            </div>

          </div>
        <div class="row">
          <div class="col" style="background-image: url('./assets/ThaiMapp.svg');">
            </div>
          <div class="col-sm inColbott1" >
            <p class="acc_country1">การเข้าถึงแต่ละส่วนของประเทศ
            </p>
            <p class="acc_country2">จังหวัดที่เข้าถึง</p>
              <table class ="t1" *ngFor="let idx of resp3">
                    <tr>
                      <th>จังหวัด</th>
                      <th>จำนวน</th>
                      </tr>

                   <tr>
                      <td>{{idx.pname}}</td>
                      <td>{{resp3.length}}</td>
                    </tr>
                   <tr>
                    <th>รวม : {{resp3.length}}</th>
                    </tr>
                </table>

          </div>
          <div class="col inColbott2">

              <p class="acc_elearn">การเข้าถึงช่องทาง E-learning</p>
              <p style="color:rgb(65,87,141);font-family: DB Heavent;">แบ่งตามภูมิภาค</p>
                <img [src]=" './assets/line_chart.JPG' ">
                <img [src]=" './assets/stack_chart.JPG' ">


        </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div style="height:225px;" class="col cus_jour"><p>Customer's journy</p>
              <img [src]=" './assets/worldMap.jpg' ">
            </div>
            <div style="width: 45%;height:225px;background-color: rgb(60,80,156);" class="col-xs"><p class="top5nea">Top 5 ประเทศ<br>ที่มีผู้ประกอบการ NEA เข้าร่วม</p>

              <table class="t2">
                  <tr>
                    <th>ประเทศ</th>&nbsp;
                    <th>จำนวนผู้ใช้</th>
                  </tr>
                  <tr *ngFor="let ix of resp2" style="text-align: center;color:white">
                    <td>{{ix.cname}}</td> &nbsp;
                    <td>{{ix.amount_user}}</td>
                  </tr>
              </table>
            </div>
          </div>

        <div class="row">
          <div class="col lower2">
              <div class="col lower3" style="background-image: url('./assets/Elearning.png');">

                  <div class="row lower4">
                      <div class="col elearn1">กลุ่มหลักสูตร E-learning</div>
                      <div class="col"></div>
                  </div>
              </div>
              <div class="row lower5" *ngFor="let idx of resp">
                    <div class="col-sm inLower1"><p>{{idx.activities}}</p>
                      <p>กิจกรรม<p></div>
                    <div class="col-sm inLower2"><p>{{idx.participant}}</p>
                      <p>ผู้เข้าร่วม</p></div>
              </div>
          </div>
          <div class="col RightLow"><p style="color:rgb(65,83,113);font-size:16px;font-weight:bold">สถิติผู้เข้าร่วม</p>
            <app-chart></app-chart>
          </div>
      </div>
      <br>
      <div class="row">
        <div class="col lowBanner1" style="background-image:url('./assets/cargo-pic.png');">
          <p>มูลค่า<br>
            ส่งออกรวม</p>
              <div class="col-sm" >
                <select [(ngModel)]="is_selected">
                  <option value="">YEARปี</option>
                  <option value="1">2011</option>
              </select>

            </div>
              <div class="col-sm"></div>
        </div>
        <div class="col lowBanner2">
            <p class="top5ex">Top 5 ประเทศที่มูลค่าส่งออกมากที่สุด</p>
            <table class="t3">
              <tr>
                <th>ประเทศ</th>
                <th>มูลค่า(cube)</th>
              </tr>
              <tr *ngFor="let ix of resp2">
                  <td>{{ix.cname}}</td>
                  <td>{{ix.cubes}}</td>
                </tr>
                <tr>
                    <th style="font-size:20px;color:rgb(255,255,255);">รวม : {{getSumOfCube()}}</th>
                  </tr>
            </table>
        </div>
        <div class="col lowBanner3">สัดส่วนประเภทผู้ประกอบการ

            <img [src]=" './assets/stat_shareholder.JPG' "></div>
        </div>
    </div>

  </div>
</div>
