.colUp1{
  width: 720px;
  height: 720px;

}
.nea1
{
  font-weight: bold;
  font-size: 18px;
  padding-left: 10%;
  color:#FFF;
}
.nea2
{
  font-size: 16px;
  color:#FFF;
}
.nea3
{
  font-weight: bold;
  font-size: 18px;
  padding-left: 10%;
  color:#FFF;
}
.nea4
{
  font-size: 16px;
  color:#FFF;
}
.nea5{
  font-weight: bold;
  font-size: 18px;
  padding-left: 10%;
  color:#FFF;
}
.t1
{
  margin-left:18%;
  color:#FFF;
  margin-top:80%;
}
.users1
{
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  padding: 10%;
  text-align: center;
}
.users2
{
  font-size: 16px;
  font-weight: bold;
  position: relative;
  color: #FFF;

  text-align: center;
}
.users3
{
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  padding: 10%;
  text-align: center;
}
.users4
{
  font-size: 16px;
  font-weight: bold;
  position: relative;
  color: #FFF;

  text-align: center;
}
.acc_country1{
  color: #FFF;
}
.acc_country2{

}
.elearn1
{
  font-size: 20px;
  font-weight: bold;
  color:#FFF;
  padding-left:25%;
}
.inColUp2{
  width: 372px;
  height: 250px;

}
.inColUp6{
  width: 110px;
  height: 312px;

}
.inColbott1{
  width: 350px;
  height:440px;
  background-color: rgb(61,88,155);
}
.inColbott2{
  width: 350px;
  height:440px;
  background-color: rgb(255,255,255);
}
.inColUp4{
  width: 120px;
  height: 150px;
  background-color: rgb(39,59,107);
}
.inColUp5{
  width: 120px;
  height: 150px;
  background-color:rgb(61,88,155);
}


.lower1{
  width:474px;
  height: 228px;
  border-style: solid;
}

.lower3{
  height: 100px;
  width:320px;

}
.RightLow{
  width: 300px;
  height: 200px;
  background-color: rgb(235,241,248);
}
.inLower1{
  width: 106px;
  height: 118px;
  background-color: rgb(22,35,64);
}
.inLower2{
  width: 106px;
  height: 118px;
  background-color: rgb(61,88,155);
}
.lowBanner1{
  height: 210px;
  width: 210px;

}
.lowBanner2{
  height: 210px;
  width: 210px;
  background-color: rgb(61,88,155);
}
.lowBanner3{
  height: 210px;
  width: 210px;

}
